body{
    background-color: #383231;
}

div{
    border-radius: 26px;
    border-color: #38B82A;
    border: 1px solid; 
}
footer{
    border-radius: 26px;
    border-color: #38B82A;
    border: 1px solid;

}